@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
}

.conteudo {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 70px;
}

section,
aside {
  flex-basis: 100px;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  background-color: rgba(151, 150, 150, 0.274);
  padding: 10px;
}

section {}

aside {}

/*footer*/

/* Footer */
footer {
  background-color: #242526;
  position: relative;
  height: auto;
  width: 100%;
  padding: 50px 100px;
  display: flex;
  /* Alterado para flexbox */
  flex-direction: column;
  /* Empilhamento vertical dos elementos */
  align-items: center;
  /* Alinhar os elementos horizontalmente */
  justify-content: center;
  /* Alinhar os elementos verticalmente */
}

footer .container {
  max-width: 1300px;
  width: 100%;
  display: flex;
  /* Alterado para flexbox */
  justify-content: space-between;
  /* Espaço uniforme entre os elementos */
  gap: 20px;
  /* Espaçamento entre os elementos */
  flex-wrap: wrap;
  /* Envolve os elementos quando a tela é estreita */
}

footer .container .sec h2 {
  position: relative;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .container .sec p {
  color: #fff;
}

footer .container .sci {
  margin-top: 20px;
  display: flex;
  /* Alterado para flexbox */
  gap: 20px;
  /* Espaçamento entre os elementos */
}

footer .container .sci li {
  list-style: none;
}

footer .container .sci li a {
  display: flex;
  /* Alterado para flexbox */
  align-items: center;
  /* Alinhar o conteúdo verticalmente */
  justify-content: center;
  /* Alinhar o conteúdo horizontalmente */
  width: 36px;
  height: 36px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

footer .container .sci li a:hover {
  background-color: rgb(107, 201, 233);
}

footer .container .sci li a i {
  color: #242526;
  font-size: 20px;
}

footer .container .quicklinks {
  position: relative;
}

footer .container .quicklinks ul li {
  list-style: none;
}

footer .container .quicklinks ul li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .container .contact .info {
  position: relative;
}

footer .container .contact .info li {
  display: flex;
  /* Alterado para flexbox */
  gap: 20px;
  /* Espaçamento entre os elementos */
  align-items: center;
  /* Alinhar o conteúdo verticalmente */
  margin-bottom: 16px;
}

footer .container .contact .info li span {
  color: #fff;
  font-size: 20px;
}

footer .container .contact .info li a {
  color: #fff;
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  background: #242526;
  color: white;
  padding: 20px 100px 30px;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .container {
    width: 100%;
    display: flex;
    /* Alterado para flexbox */
    justify-content: space-between;
    /* Espaço uniforme entre os elementos */
    gap: 20px;
    /* Espaçamento entre os elementos */
    flex-wrap: wrap;
    /* Envolve os elementos quando a tela é estreita */
  }

  .copyrightText {
    padding: 20px 40px 30px;
  }
}


/*footer*/

@media (max-width: 450px) {
  .conteudo {
    flex-direction: column;
    margin-top: 0;
  }

  main {
    order: -1;
  }

  aside {
    flex-basis: 100px;
  }

  footer .container {
    width: 100%;
    display: flex;
    /* Alterado para flexbox */
    justify-content: center;
    /* Centraliza os elementos horizontalmente */
    flex-direction: column;
    gap: 20px;
    /* Espaçamento entre os elementos */
    flex-wrap: wrap;
    /* Envolve os elementos quando a tela é estreita */
  }

}


nav {
  position: fixed;
  z-index: 99;
  width: 100%;

  background: #242526;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  margin-right: 15px;
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .nav-links {
  display: inline-flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background: #3A3B3C;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links .drop-menu {
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .content {
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}

.row .mega-links li a:hover {
  color: #f2f2f2;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 1220px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    /* Change left to right */
    right: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #242526;
  }

  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }

  #menu-btn:checked~.nav-links {
    right: 0;
    z-index: 2;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .nav-links li {
    margin: 15px 10px;
  }

  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDrop:checked~.drop-menu,
  #showMega:checked~.mega-box {
    max-height: 100%;
  }

  .nav-links .desktop-item {
    display: none;
  }

  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .nav-links .mobile-item:hover {
    background: #3A3B3C;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .mega-links li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }
}

nav input {
  display: flex;
}

#carouselExampleIndicators {
  margin-top: 15px;
}

.search {
  position: relative;
  width: 450px;
  height: 40px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #242526;
  overflow: hidden;
  display: flex;
}

.search.active {
  width: 360px;
}

.search .icone {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 40px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.search .icone::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #242526;
  border-radius: 50%;
  transform: translate(-4px, -4px);
}

.search .icone::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background: #242526;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .inputsearch {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 60px;
  display: flex;
  align-items: center;
}

.search .inputsearch input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
  margin-right: 40px;
  /* Adicione espaço para o ícone de limpar */
}

.clear {
  position: absolute;
  /* Remova a posição absoluta */
  right: 0;
  /* Remova o alinhamento à direita */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 100%;
  padding-right: 20px;
  /* Adicione algum espaço à direita do ícone */
}

.clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #242526;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #242526;
  transform: rotate(315deg);
}

.nav-links input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}


.embrulho {
  margin-top: 30px;
  max-width: 1100px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centralizar horizontalmente */
}


.embrulho i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 2.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}

.embrulho i:active {
  transform: translateY(-50%) scale(0.85);
}

.embrulho i:first-child {
  left: -10px;
  /* Ajustado para centralizar */
}

.embrulho i:last-child {
  right: 10px;
  /* Ajustado para centralizar */
}

.embrulho .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 16px);
  /* 5 cards por vez */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 17px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .foto) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 200px;
  list-style: none;
  background: transparent;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel .card .foto {
  background: transparent;
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.card .foto img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1rem;
  margin: 5px 0 5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .embrulho .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .embrulho .carousel {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 450px) {
  .embrulho {
    margin-top: 9vh;
  }

  .carousel .card {
    height: 200px;
    /* Ajuste conforme necessário */
  }

  .carousel .card .foto {
    height: 100px;
    /* Ajuste conforme necessário */
    width: 100px;
    /* Ajuste conforme necessário */
  }

  .card .foto img {
    width: 90px;
    /* Ajuste conforme necessário */
    height: 90px;
    /* Ajuste conforme necessário */
  }

  .embrulho i {
    height: 30px;
    /* Ajuste conforme necessário */
    width: 30px;
    /* Ajuste conforme necessário */
  }

  .embrulho .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
    /* Ajuste conforme necessário */
  }
}

@media screen and (max-width: 450px) {
  .embrulho i {
    font-size: 1rem;
    /* Ajuste o tamanho do ícone */
  }

  .embrulho i:first-child {
    left: 10px;
    /* Ajuste a posição, se necessário */
  }

  .embrulho i:last-child {
    right: 10px;
    /* Ajuste a posição, se necessário */
  }
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif;

    --btnbg: red;
    --btnfontcolor: rgb(61, 61, 61);
    --btnfontcolorhover: rgb(255, 255, 255);
    --btnbghover: #ffc116;
    --btnactivefs: rgb(241, 195, 46);


    --label-index: red;
    --danger-index: #ff0000;
/* PAGINATE */
    --link-color: #000;
    --link-color-hover: #fff;
    --bg-content-color: #ffcc00;

}



.container-fluid {
  max-width: 1400px;

}

.card {
  background: #fff;
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  border: 0;
  border-radius: 1rem;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
  overflow: hidden;
  height: 55px;
  font-weight: 300;
  font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
}

.card-img-top {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: contain;
  padding: 30px;
}

.card h2 {
  font-size: 1rem;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
  position: absolute;
  background-color: var(--label-index);
  color: #fff;
  /* background-color: red; */
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: .7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

.top-right {
  position: absolute;
  top: 24px;
  left: 24px;

  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  background: #4a7ac3;
  line-height: 90px;
  text-align: center;
  color: white;
}

.top-right span {
  display: inline-block;
  vertical-align: middle;
  /* line-height: normal; */
  /* padding: 0 25px; */
}

.aff-link {
  /* text-decoration: overline; */
  font-weight: 500;
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.0px);
  -webkit-backdrop-filter: blur(0.0px);
  border-radius: 10px;
}

.bold-btn {

  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px;
}

.box .btn {
  font-size: 1.5rem;
}

@media (max-width: 1025px) {
  .btn {
    padding: 5px 40px 5px 40px;
  }
}

@media (max-width: 250px) {
  .btn {
    padding: 5px 30px 5px 30px;
  }
}

/* START BUTTON */
.btn-warning {
  background: var(--btnbg);
  color: var(--btnfontcolor);
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
  border-radius: 100px;
}

.btn-warning:hover {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-check:focus+.btn-warning,
.btn-warning:focus {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-warning:active:focus {
  box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}

.btn-warning:active {
  background: var(--btnbghover);
  color: var(--btnfontcolorhover);
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
  font-size: 1rem;
  background-color: var(--btnbg) !important;
  color: var(--btnfontcolor) !important;
}

.bg-danger {
  font-size: 1rem;
}


.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray;
}

.amz-hp {
  font-size: .7rem;
  font-weight: 600;
  color: darkgray;
}

.fa-question-circle:before {
  /* content: "\f059"; */
  color: darkgray;
}

.fa-heart:before {
  color: crimson;
}

.fa-chevron-circle-right:before {
  color: darkgray;
}

main h1 {
  font-size: 30px;
  margin: 20px;
  margin-bottom: -20px;
}

.card-body p{
  color: black;
  font-weight: 900;
  font-size: 1em;
}

.preco-produto{
  width: 80px;
  font-weight: 800;
  font-size: 1.1rem;
  display: inline-block;
  padding: 4px;
  border-radius: 8px;
}


label {
  display: inline-block;
  align-items: center;
  /* gap: 14px; */
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  color: black;
 }

 .fav{
  display: inline-block;
  gap: 5px;
 }
 
 input {
  display: none;
 }
 
 input:checked + label svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
 }
 
 @keyframes heartButton {
  0% {
   transform: scale(1);
  }
 
  25% {
   transform: scale(1.3);
  }
 
  50% {
   transform: scale(1);
  }
 
  75% {
   transform: scale(1.3);
  }
 
  100% {
   transform: scale(1);
  }
 }
